<ion-header>
  <ion-navbar color="primary">
    <ion-title>LLLLLLLLLLLLLLLLLLLLLLLLLLLL</ion-title>
  </ion-navbar>
</ion-header>

<ion-content> 


  <ion-toolbar color="secondary">
    <ion-title>
      <b>Payment</b>
    </ion-title>
  </ion-toolbar>



  <ion-item>
    <ion-label>
      <b>Hardware Name</b>
    </ion-label>
    </ion-item>


  <ion-searchbar
  [(ngModel)]="myInput"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="onInput($event)"></ion-searchbar>
  



  


  <ion-item>
    <ion-label>
      <b>Date</b>
    </ion-label>
    <ion-datetime displayFormat="DD/MMM/YYYY" [(ngModel)]="myDate"></ion-datetime>
  </ion-item>


  <ion-list radio-group [(ngModel)]=" PayingType"color="secondary">

    <ion-list-header>
      Paying Type
    </ion-list-header>

    <ion-item class="on-list" ng-model-options="">
      <ion-label>Cash</ion-label>
      <ion-radio value="cash"></ion-radio>
    </ion-item>

    <ion-item class="on-list">
      <ion-label>Check</ion-label>
      <ion-radio value="check"></ion-radio>
    </ion-item>

  </ion-list>
  <ion-item *ngIf="PayingType == 'check'">
    <ion-label color="primary" floating>Check Number</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item *ngIf="PayingType == 'check'">
    <ion-label color="primary" floating>Bank Code</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item *ngIf="PayingType == 'check'">
    <ion-label color="primary" floating>Branch Code</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item *ngIf="PayingType == 'check'">
    <ion-label color="primary">
      Check Date
    </ion-label>
    <ion-datetime displayFormat="DD/MMM/YYYY" [(ngModel)]="myDate"></ion-datetime>
  </ion-item>

  <ion-item>

    <ion-label>
      <b>Amount</b>
    </ion-label>
    <ion-input style="padding-left: 126px;" placeholder="Add quantity"></ion-input>
  </ion-item>



  <button style="margin: inherit" ion-button block>Submit
  </button>

</ion-content>
