page-home {


    .on-list {
        display: inline-flex;
    }

    .submit-btn{

        background-color: #1250db;
        margin: inherit;
    }

    .monthview-selected{
        color: red;
        background-color: green;
        
        }

        .loadList{
            padding-left: 10%;
        }

}
